
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1a1a1a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-datetime-edit {
  color: #ffffff;
}
